{{!-- <div>
{{yield (hash
  deComponentPath=(component this.deComponent)
)}}
</div> --}}

<div>
{{yield (hash
  wrapper=(component this.wrappingComponent type=@type element=@element
  dePath=this.deComponent)
)}}
</div>